main {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.menu {
  width: 20%;
  transition: all 0.5s;
  background-color: whitesmoke;

  .menu-inner {
    display: flex;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }

  &-burger {
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .burger {
      width: 30px;
      height: 30px;
      margin: 4px;
    }
  }

  &-search {
    width: 100%;
    height: 45px;
    padding-top: 8px;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;

    .search {
      width: 215px;
      height: 35px;
      border: 1px solid lightgray;
      border-radius: 20px;
      padding-left: 35px;
      outline: none;
    }
  }

  &-search::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../../../assets/icons/loupe.svg);
    top: 18px;
    left: 12px;
  }
}

.usersList {
  height: 90vh;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  transition: all 0.5s;
  font-family: sans-serif;
  overflow-y: auto;
  overflow-x: hidden;

  &-title {
    // height: 35px;
    line-height: 1.5;
    color: darkturquoise;
    padding-left: 10px;
  }

  &-items {
    &__block {
      // min-height: 60px;
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;

      .user {
        display: flex;
        padding: 10px 5px;
        border-bottom: 1px solid lightgray;
        cursor: pointer;
      }

      .user:hover {
        background-color: rgba(168, 168, 168, 0.28);
      }

      &--left {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      &--right {
        width: 80%;
        margin-left: 10px;

        .block-info {
          h3 {
            width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .block-message {
          width: 190px;
          color: gray;

          p {
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }


  }
}

.userList-all {
  min-height: 60px;

  h2 {
    line-height: 1.5;
    color: darkturquoise;
    padding-left: 10px;
  }

  .user {
    display: flex;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

  .user:hover {
    background-color: rgba(168, 168, 168, 0.28);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .usersList-all--right {
    width: 80%;
    margin-left: 10px;

    h3 {
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.sidebar {
  height: 100%;
  width: 280px;
  position: absolute;
  left: -300px;
  z-index: 1;
  transition: all 0.5s;
  border-right: 1px solid lightgray;
  font-family: sans-serif;

  &-head {
    height: 11vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    transition: all 0.5s;
    border-bottom: 1px solid lightgray;

    .head-close {
      font-size: 30px;
      cursor: pointer;
      margin-left: 10px;
    }

    .head-image {
      width: 50px;
      height: 50px;
      padding: 5px;
      margin: 0 5px;

      .head-image__box {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
      }
    }

    .head-nick {
      width: 95px;
      font-weight: 600;
      font-style: italic;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
      cursor: default;
    }

    .edit-block,
    .head-signOut {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: darkgray;
      border-radius: 50%;
      margin: 0 5px;
    }

    .edit {
      width: 20px;
      height: 20px;
    }

    .signOut {
      width: 20px;
      height: 20px;
      background-image: url(../../../assets/icons/sign-out.svg);
    }

    .head-signOut:hover,
    .edit-block:hover {
      background-color: rgb(206, 205, 205);
    }
  }

  &-items {
    padding: 5px 0;
    position: relative;

    .item {
      min-height: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &-img {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        display: flex;
        align-items: center;

        .switch {
          width: 35px;
          height: 20px;
          border-radius: 20px;
          position: relative;
          border: 1px solid gray;

          .switch-check {
            width: 8px;
            height: 8px;
            background-color: gray;
            position: absolute;
            border-radius: 50%;
            top: 5px;
            transition: all 0.5s;
          }
        }
      }

      &-title {
        margin-left: 10px;
        font-family: sans-serif;
      }
    }

    .item:hover {
      background-color: rgba(168, 168, 168, 0.28);
    }
  }
}

.left {
  left: 0;
}

.editData {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(97, 97, 97, 0.589);
  align-items: center;
  justify-content: center;

  &-inner {
    width: 420px;
    min-height: 200px;
    border-radius: 4px;
    padding: 10px;
    font-family: sans-serif;


    .head {
      height: 50px;
      text-align: center;
      padding: 10px;
      position: relative;

      .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }

    .body {
      .item {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        label {
          margin-right: 20px;
        }

        #userName,
        #email {
          height: 30px;
          outline: none;
          border: 1px solid gray;
          border-radius: 4px;
          padding-left: 10px;
        }
      }

      .image {
        height: 120px;
        flex-direction: column;
        margin-bottom: 15px;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }

        .upload-btn-wrapper {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .btn {
          width: 65%;
          border: 2px solid #004e92;
          color: white;
          background: linear-gradient(to right, #000428, #243B55);
          padding: 5px 20px;
          border-radius: 4px;
          font-weight: bold;
          transition: all .250s linear;
        }

        .upload-btn-wrapper input[type=file] {
          position: absolute;
          left: 67px;
          opacity: 0;
          width: 65%;
          height: 100%;
        }
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      input {
        min-width: 100px;
        padding: 0 10px;
        height: 35px;
        outline: none;
        border: 1px solid gray;
        cursor: pointer;
        border-radius: 4px;
        color: #ffffff;
        background: linear-gradient(to right, #232526, #414345);
      }
    }
  }
}

.none {
  display: none;
}

.active {
  background-color: rgba(168, 168, 168, 0.48);
}

.userInfo {
  width: 80%;
  transition: all 0.5s;
  font-family: sans-serif;

  .userInfo-inner {
    height: 10vh;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    display: flex;
  }

  &-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
  }

  &-name,
  &-add {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
}

.messanger {
  height: 80vh;
  border-bottom: 1px solid lightgray;
  transition: all 1s;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;

  &-items {
    display: flex;
    flex-direction: column;

    .message {
      display: flex;
      flex-direction: row;
      position: relative;

      .dots {
        width: 20px;
        background-image: url(../../../assets/icons/dots-three-vertical.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: none;
      }
    }

    .message:hover .dots {
      display: block;
    }

    .hidden-block {
      position: relative;
    }

    .settings {
      width: 170px;
      position: absolute;
      color: #fff;
      background-color: dimgray;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      z-index: 1;

      .point {
        line-height: 30px;
        cursor: pointer;
        padding: 0 5px 0 15px;
        display: flex;
      }

      .point:hover {
        background-color: gray;
      }

      .check {
        width: 25px;
        height: 25px;
        background-image: url(../../../assets/icons/check.svg);
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 5px;
        right: 5px;
        display: none;
      }
    }

    .editted {
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url(../../../assets/icons/star.svg);
      background-position: center;
      background-size: cover;
      top: -5px;
      right: -5px;
    }

    .ed-left{
      right: 0;
      left: -5px;
    }

    .message-text {
      max-width: 300px;
      white-space: break-spaces;
      word-break: break-all;
      color: #fff;
      padding: 10px 15px;
    }

    &__left {
      margin: 10px;

      &--message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .message-text {
          background-color: slategray;
          border-radius: 0px 10px 10px 10px;
        }

        .box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .document {
            background-image: url(../../../assets/icons/document.svg);
            background-size: contain;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }

        .fileName {
          color: darkgray;
        }
      }
    }

    &__right {
      margin: 10px;

      &--message {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .hidden-block {
          margin-right: 180px;
        }

        .message-text {
          background-color: gray;
          border-radius: 10px 0px 10px 10px;
        }

        .box {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .document {
            background-image: url(../../../assets/icons/document.svg);
            background-size: contain;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }

        .fileName {
          color: darkgray;
          text-align: end;
        }
      }
    }

    .message-date {
      color: darkgray;
      margin-top: 5px;
    }
  }
}

.blockSending {
  height: 10vh;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: relative;

  .edit {
    width: 100%;
    position: absolute;
    top: -30px;
    display: flex;
    background-color: rgba(184, 134, 11, 0.8);
    padding: 5px 10px;
    height: 30px;

    .icon {
      width: 20px;
      height: 20px;
      background-image: url(../../../assets/icons/warning.svg);
      background-size: contain;
      margin-right: 10px;
    }

    .close {
      width: 15px;
      height: 15px;
      background-image: url(../../../assets/icons/close.svg);
      background-size: contain;
      position: absolute;
      top: 8px;
      right: 10px;
      cursor: pointer;
    }
  }

  &-inner {
    width: 100%;
    position: relative;

    .document {
      background-image: url(../../../assets/icons/document.svg);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 7px;
      left: 10px;
    }

    #file {
      position: absolute;
      top: 7px;
      left: 10px;
      opacity: 0;
      width: 20px;
      height: 20px;
      padding: 0;
      z-index: 1;
      cursor: pointer;
    }

    .full {
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: red;
      border-radius: 50%;
      top: 7px;
      left: 25px;
    }

    input {
      width: 100%;
      height: 35px;
      border: 1px solid lightgray;
      border-radius: 15px;
      padding-left: 35px;
      outline: none;
    }
  }

  .send-icon {
    background-image: url(../../../assets/icons/send.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.contactInfo {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(97, 97, 97, 0.589);
  align-items: center;
  justify-content: center;

  &-inner {
    width: 420px;
    min-height: 200px;
    padding: 10px;
    border-radius: 4px;
    font-family: sans-serif;

    .head {
      height: 40px;
      position: relative;

      .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
    }

    .body {
      .info {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
      }

      .image {
        height: 110px;
        flex-direction: column;

        img {
          width: 70px;
          height: 70px;
          margin-bottom: 5px;
          border-radius: 50%;
        }
      }

      .send {
        padding: 5px 10px 5px 40px;
        line-height: 1.5;
        cursor: pointer;
        margin: 5px 0;
      }

      .item:hover {
        background-color: rgba(168, 168, 168, 0.5);
      }

      .clear {
        padding: 5px 10px 5px 40px;
        line-height: 1.5;
        cursor: pointer;
        margin: 5px 0;
        position: relative;
      }
    }
  }
}

#notFound {
  padding: 10px;
  font-style: italic;
  text-align: center;
}