<main>
    <section class="menu">
        <div class="menu-inner" [style.backgroundColor]="bgColorHead">
            <div class="menu-burger" (click)="openSideBar()">
                <div class="burger" [style.backgroundColor]="textColor"></div>
                <div class="burger" [style.backgroundColor]="textColor"></div>
                <div class="burger" [style.backgroundColor]="textColor"></div>
            </div>
            <div class="menu-search">
                <input type="text" name="search" [(ngModel)]="search" class="search"
                    placeholder="{{ 'search-placeholder' | translate }}" [style.fontSize]="currentSize.text">
            </div>
        </div>

        <div class="usersList" [style.backgroundColor]="bgColor">
            <div class="usersList-title">
                <h2 [style.fontSize]="currentSize.title">{{ 'contacts' | translate }}</h2>
            </div>
            <div *ngIf="checkFilter()" class="usersList-items">
                <div class="usersList-items__block" *ngIf="user.contacts.length > 0">
                    <div class="user" [id]="item.id" *ngFor="let item of user.contacts| filter: search; let i=index"
                        routerLinkActive="active" [routerLink]="item.userName" (click)="chooseContact($event)">
                        <img class="usersList-items__block--left" [src]='item.image'>
                        <div class="usersList-items__block--right" [style.color]="textColor">
                            <div class="block-info">
                                <h3 [style.fontSize]="currentSize.title">{{ item?.userName }}</h3>
                            </div>
                            <div class="block-message" *ngIf="item.lastMessage">
                                <p [style.color]="isDark ? 'darkgray' : 'gray'" [style.fontSize]="currentSize.text">{{ item.lastMessage.message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="checkFilter()" class="userList-all">
                <h2 [style.fontSize]="currentSize.title">{{ 'others' | translate }}</h2>
                <div class="user" [id]="user.id" *ngFor="let user of allUsers| filter: search; let i=index"
                    routerLinkActive="active" [routerLink]="user.userName" (click)="chooseContact($event)">
                    <img class="usersList-all--left" [src]='user.image'>
                    <div class="usersList-all--right">
                        <div class="block-info">
                            <h3 [style.color]="textColor" [style.fontSize]="currentSize.title">{{user.userName}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!checkFilter()" class="usersList-items-none">
                <p id="notFound" [style.color]="isDark ? 'darkgray' : 'gray'" [style.fontSize]="currentSize.text">{{ 'usersNotFound' | translate: {name:
                    search} }}</p>
            </div>
        </div>
    </section>

    <section class="sidebar" [ngStyle]="{'left': left}" [style.backgroundColor]="bgColor">
        <div class="sidebar-head" [style.backgroundColor]="bgColorHead" [style.color]="textColor">
            <div class="head-close" (click)="closeSideBar()" [style.color]="textColor">
                < </div>
                    <div class="head-image">
                        <img class="head-image__box" [src]="user?.image">
                    </div>
                    <div class="head-nick" [style.fontSize]="currentSize.title">{{ user?.userName }}</div>
                    <div class="edit-block" (click)="openEditModal()">
                        <img class="edit" src="assets/icons/edit.svg" alt="edit">
                    </div>
                    <div class="head-signOut">
                        <div class="signOut" (click)="signOut()"></div>
                    </div>
            </div>
            <div class="sidebar-items" [style.color]="isDark ? '#fff' : '#000'">
                <div class="item" (click)="openSettings()">
                    <img class="item-img" src="assets/icons/settings.svg">
                    <div class="item-title" [style.fontSize]="currentSize.title">{{ 'sidebar.settings' | translate }}</div>
                </div>
                <div class="item" (click)="toggleView()">
                    <div class="item-img">
                        <div class="switch">
                            <div [style.right]="isDark ? '6px' : '20px'" class="switch-check"></div>
                        </div>
                    </div>
                    <div class="item-title" [style.fontSize]="currentSize.title">{{ 'sidebar.nightMode' | translate }}</div>
                </div>

            </div>
    </section>

    <section class="editData" [style.display]="display">
        <div class="editData-inner" [style.backgroundColor]="bgColorHead" [style.color]="textColor">
            <div class="head">
                <h1 [style.fontSize]="currentSize.title">{{ 'editData.head' | translate }}</h1>
                <div class="close" (click)="openEditModal()" [style.backgroundImage]="currentElement"></div>
            </div>
            <div class="body">
                <div class="item image">
                    <img [src]="image" alt="image">
                    <div class="upload-btn-wrapper">
                        <button class="btn" [style.fontSize]="currentSize.text">{{ 'editData.buttonUpload' | translate }}</button>
                        <input type="file" name="image" id="image" (change)="uploadImage($event)">
                    </div>
                </div>
                <div class="item">
                    <label for="userName" [style.fontSize]="currentSize.text">{{ 'editData.userName' | translate }}</label>
                    <input [(ngModel)]="userName" type="text" name="userName" id="userName" [style.fontSize]="currentSize.text"
                        placeholder="{{ 'editData.userNamePlaceholder' | translate }}">
                </div>
                <div class="item">
                    <label for="email" [style.fontSize]="currentSize.text">{{ 'editData.email' | translate }}</label>
                    <input [(ngModel)]="email" type="email" name="Email" id="email" [style.fontSize]="currentSize.text"
                        placeholder="{{ 'editData.emailPlaceholder' | translate }}">
                </div>
            </div>
            <div class="button">
                <input type="button" value="{{ 'editData.button' | translate }}" [style.fontSize]="currentSize.text" (click)="updateUserData()">
            </div>
        </div>
    </section>

    <section class="userInfo">
        <div class="userInfo-inner" [style.backgroundColor]="bgColorHead">
            <div class="userInfo-image" [style.backgroundImage]="'url(' + currentContact?.image + ')'"></div>
            <div class="userInfo-name" [style.color]='textColor' (click)="openUserInfo()">
                <h2 [style.fontSize]="currentSize.title">{{ currentContact?.userName }}</h2>
            </div>
            <div *ngIf="!isContact" class="userInfo-add" (click)="addContact()" [style.color]="textColor">
                <p [style.fontSize]="currentSize.text">{{ 'contact.add' | translate }}</p>
            </div>
        </div>
        <div class="messanger" [style.backgroundImage]="'url('+ backgroundImage + ')'">
            <div class="messanger-items" *ngFor="let message of messages">
                <div *ngIf="message.userId !== user.id" class="messanger-items__left">
                    <div class="messanger-items__left--message">
                        <div class="message" id="message{{message.id}}">
                            <div class="message-text" id="mes{{message.id}}" [style.fontSize]="currentSize.title" [style.fontSize]="currentSize.title">{{ message.message }}</div>
                            <div class="dots" id="dot{{message.id}}" (click)="openMessageSettings(message.id)"
                                (clickOutside)="onClickedOutside($event)"></div>
                            <div class="hidden-block">
                                <div class="settings" id="m{{message.id}}">
                                    <div class="point" (click)="translateMessage(message.message, message.id)" [style.fontSize]="currentSize.text">{{
                                        'settings.translate' | translate }}
                                        <div class="check" id="ch{{message.id}}"></div>
                                    </div>
                                    <div class="point" (click)="openDialog(message)" [style.fontSize]="currentSize.text">{{ 'settings.delete' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div name="date" *ngIf="isString" class="message-date" [style.fontSize]="currentSize.text">{{ message.date | date: 'dd/MM/YY,
                            hh:mm a' }}</div>
                        <div name="date" *ngIf="!isString" class="message-date" [style.fontSize]="currentSize.text">{{ message.date.seconds*1000 |
                            date: 'dd/MM/YY,
                            hh:mm a' }}</div>
                    </div>
                </div>
                <div *ngIf="message.userId === user.id" class="messanger-items__right">
                    <div class="messanger-items__right--message">
                        <div class="message">
                            <div class="hidden-block">
                                <div class="settings" id="m{{message.id}}">
                                    <div class="point" (click)="translateMessage(message.message, message.id)" [style.fontSize]="currentSize.text">{{
                                        'settings.translate' | translate }}
                                        <div class="check" id="ch{{message.id}}"></div>
                                    </div>
                                    <div class="point" (click)="editMessage(message)" [style.fontSize]="currentSize.text">{{ 'settings.edit' | translate }}
                                    </div>
                                    <div class="point" (click)="openDialog(message)" [style.fontSize]="currentSize.text">{{ 'settings.delete' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="dots" id="dot{{message.id}}" (click)="openMessageSettings(message.id)"
                                (clickOutside)="onClickedOutside($event)"></div>
                            <div class="message-text" id="mes{{message.id}}" [style.fontSize]="currentSize.title">{{ message.message }}</div>
                            <div class="editted" *ngIf="message.edited"></div>
                        </div>
                        <div name="isString" *ngIf="isString" class="message-date" [style.fontSize]="currentSize.text">{{ message.date | date: 'dd/MM/YY,
                            hh:mm a' }}</div>
                        <div name="!isString" *ngIf="!isString" class="message-date" [style.fontSize]="currentSize.text">{{ message.date.seconds*1000 |
                            date: 'dd/MM/YY,
                            hh:mm a' }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blockSending" [style.backgroundColor]="bgColor">
            <div *ngIf="editMess" class="edit">
                <div class="icon"></div>
                <div class="text">
                    <p [style.fontSize]="currentSize.text">{{ 'blockSending.warn' | translate }}</p>
                </div>
                <div class="close" (click)="cancelEdit()"></div>
            </div>
            <div class="blockSending-inner">
                <input type="file" name="file" id="file" (change)="loadFile($event)">
                <div class="document"></div>
                <div *ngIf="urlFile?.url" class="full"></div>
                <input type="text" id="message" name="message" placeholder="{{ 'text-placeholder' | translate }}" [style.fontSize]="currentSize.text"
                    [(ngModel)]="message" (keyup.enter)="sendMessage()">
                <div class="send-icon" (click)="sendMessage()"></div>
            </div>
        </div>
    </section>

    <section class="contactInfo" [style.display]="isClick">
        <div class="contactInfo-inner" [style.backgroundColor]="bgColorHead" [style.color]='textColor'>
            <div class="head">
                <div class="close" [style.backgroundImage]="currentElement" (click)="openUserInfo()"></div>
            </div>
            <div class="body">
                <div class="info image">
                    <img [src]="currentContact?.image" alt="image">
                    <h3 [style.fontSize]="currentSize.title">{{ currentContact?.userName }}</h3>
                </div>
                <div class="info">
                    <h4 [style.fontSize]="currentSize.text">{{ 'contact.email' | translate }}</h4>
                    <p [style.fontSize]="currentSize.text">{{ currentContact?.email }}</p>
                </div>
                <div class="send item" (click)="openUserInfo()">
                    <p [style.fontSize]="currentSize.text">{{ 'contact.send' | translate }}</p>
                </div>
                <div class="clear item" (click)="clearHistory()">
                    <p [style.fontSize]="currentSize.text">{{ 'contact.clear' | translate }}</p>
                </div>
            </div>
        </div>
    </section>
</main>