<section class="userInfo" [style.backgroundColor]="bgColorHead">
    <div class="userInfo-image" [style.backgroundImage]="'url(' + currentContact?.image + ')'"></div>
    <div class="userInfo-name" [style.color]='textColor' (click)="openUserInfo()">
        <h2>{{ currentContact?.userName }}</h2>
    </div>
    <div *ngIf="!isContact" class="userInfo-add" (click)="addContact()" [style.color]="textColor">
        <p>{{ 'contact.add' | translate }}</p>
    </div>
</section>

<section class="messanger" [style.backgroundColor]="bgColor">
    <div class="messanger-items" *ngFor="let message of messages">
        <div *ngIf="message.userId !== user.id" class="messanger-items__left">
            <div class="messanger-items__left--image" [style.backgroundImage]="'url(' + currentContact?.image + ')'">
            </div>
            <div class="messanger-items__left--message">
                <div class="message-text">{{ message.message }}</div>
                <div class="message-date">{{ message.date | date: 'dd/MM/YY, hh:mm a' }}</div>
            </div>
        </div>
    </div>
    <div class="messanger-items" *ngFor="let message of messages">
        <div *ngIf="message.userId === user.id" class="messanger-items__right">
            <div class="messanger-items__right--message">
                <div class="message-text">{{ message.message }}</div>
                <div class="message-date">{{ message.date | date: 'dd/MM/YY, hh:mm a' }}</div>
            </div>
        </div>
    </div>
</section>

<section class="blockSending" [style.backgroundColor]="bgColor">
    <div class="blockSending-inner">
        <input type="text" name="message" placeholder="{{ 'text-placeholder' | translate }}" [(ngModel)]="message">
        <div class="send-icon" (click)="sendMessage()"></div>
    </div>
</section>

<section class="contactInfo" [style.display]="isClick">
    <div class="contactInfo-inner" [style.backgroundColor]="bgColorHead" [style.color]='textColor'>
        <div class="head">
            <div class="close" [style.backgroundImage]="currentElement" (click)="openUserInfo()"></div>
        </div>
        <div class="body">
            <div class="item image">
                <img [src]="currentContact?.image" alt="image">
                <h3>{{ currentContact?.userName }}</h3>
            </div>
            <div class="item">
                <h4>{{ 'contact.email' | translate }}</h4>
                <p>{{ currentContact?.email }}</p>
            </div>
            <div class="send" (click)="openUserInfo()">
                <p>{{ 'contact.send' | translate }}</p>
            </div>
        </div>
    </div>
</section>